<div class="flex justify-content-center text-center align-items-center h-screen">
  <div class="flex flex-column justify-content-between max-w-30rem w-full h-full" style="max-height: 45em">
    <div class="flex flex-column align-items-center mt-4">
      <h1 class="mb-0 mt-4">How are you feeling today?</h1>
      <audio controls *ngIf="audioUrl && !audioIsRecording" [src]='audioUrl' class="mt-4">
      </audio>
    </div>
    <div class="mb-4">
      <div id="siri-animation-container" #siriAnimationContainer [ngClass]="{'opacity-0': !audioIsRecording}"
           class="transition-duration-200 mb-4"></div>
      <div class="record-buttons-container flex justify-content-around mb-4">
        <p-button icon="pi pi-microphone text-2xl" styleClass="p-button-rounded p-button-danger p-5"
                  (onClick)="startRecording()" *ngIf="!audioIsRecording && !audioUrl" [loading]="audioIsLoading"></p-button>
        <p-button icon="pi pi-stop text-2xl" styleClass="p-button-rounded p-button-danger p-5"
                  (onClick)="stopRecording()" *ngIf="audioIsRecording && !audioUrl"></p-button>
        <p-button icon="pi pi-times text-2xl" styleClass="p-button-rounded p-button-danger p-5"
                  (onClick)="clearRecording()" *ngIf="audioUrl && !audioIsRecording"></p-button>
        <p-button icon="pi pi-send text-2xl" styleClass="p-button-rounded p-button-danger p-5"
                  (onClick)="submitRecording()" *ngIf="audioUrl && !audioIsRecording"></p-button>
      </div>
    </div>
  </div>
</div>
