<div class="grid">
  <div class="col-12 lg:col-6">
    <h1>Say the word bad</h1>
  </div>
  <div class="col-12 lg:col-6">
    <audio controls *ngIf="audioUrl" [src]='audioUrl'>
    </audio>
    <div id="siri-animation-container" #siriAnimationContainer [ngClass]="{'opacity-0': !audioIsRecording}"
         class="transition-duration-200"></div>
    <div class="record-buttons-container flex justify-content-center">
      <button (click)="startRecording()" *ngIf="!audioIsRecording">Record</button>
      <button (click)="stopRecording()" *ngIf="audioIsRecording">Stop</button>
    </div>
  </div>
</div>
